<nav id="primary" class="main-nav collapsible-nav">
  <!-- Brand -->
  <a id="sidebar-brand" href="../pages/dashboard.html">
    Whitemin
  </a>
  <button type="button" class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
    <i class="icon-reorder"></i>
  </button>

  <ul class="nav-collapse collapse">

  <!-- Profile -->
    <li class="profile">
      <a href="#profile-opts" class="accordion-toggle" data-toggle="collapse">
         <img class="avatar user3">
          <span class="text" id="profile-text">
            Usuário Teste <b class="caret"></b>
          </span>
      </a>

      <ul id="profile-opts" class="collapse secondary">
        <li class="<%= nav_active(secondary: "profile-settings") %>">
          <a href="#">
            Configurações
          </a>
        </li>
        <li class="<%= nav_active(secondary: "change-pass") %>">
          <a href="#">
            Trocar Senha
          </a>
        </li>
        <li class="<%= nav_active(secondary: "logout") %>">
          <a href="#">
            Sair
          </a>
        </li>
      </ul>
    </li>

    <!-- Dashboard -->
    <li class="<%= nav_active(primary: "dashboard") %>">
      <% link_to "/pages/dashboard.html", relative: true do %>
          <span class="icon">
            <i class="icon-dashboard"></i>
          </span>
          <span class="text">
            Dashboard
          </span>
      <% end %>
    </li>


    <li class="<%= nav_active(primary: "samples") %>">
      <a href="#sample-pages" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-money"></i>
          </span>
          <span class="text">
            Financeiro <b class="caret"></b>
          </span>
      </a>

      <ul id="sample-pages" class="collapse secondary">
        <li class="<%= nav_active(secondary: "gallery") %>">
          <%= link_to "Movimentação", "/transactions" %>
        </li>
        <li class="<%= nav_active(secondary: "gallery") %>">
          <%= link_to "Contas a Pagar", "/bills" %>
        </li>
        <li class="<%= nav_active(secondary: "gallery") %>">
          <%= link_to "Contas a Receber", "/invoices" %>
        </li>
        <li class="<%= nav_active(secondary: "gallery") %>">
          <%= link_to "Aprovação de Pedidos", "/bills/requests" %>
        </li>        
        <li class="<%= nav_active(secondary: "gallery") %>">
          <%= link_to "Contas", "/accounts" %>
        </li> 
        <li class="<%= nav_active(secondary: "gallery") %>">
          <%= link_to "Categorias", "/categories" %>
        </li> 
      </ul>
    </li>




    <li class="<%= nav_active(primary: "suporte") %>">
      <a href="#suporte" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-wrench"></i>
          </span>
          <span class="text">
            AVALIAÇÃO <b class="caret"></b>
          </span>
      </a>

      <ul id="suporte" class="collapse secondary">
        <li class="<%= nav_active(secondary: "fullcalendar") %>">
          <a href="">Gerenciamento de ativos</a>
        </li>
      </ul>
    </li>



  </ul>
</nav>